body{
  background-color: black;
}
.h1{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 50px;
  margin-bottom: 5%;
}

.div1{
  display: flex;
  justify-content: space-around;
}

.div2{
  display: flex;
  justify-content: space-around;
}

.btn{
  padding: 1.5%;
  font-size: 18px;
  background-color: purple;
  color: red;
  border: white 2px solid;
  border-radius: 150px;
}